<% if logged_in? %>
  <%= render 'posts/posts', posts: @posts %>
  <%= render 'codes/codes', codes: @codes %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to solvermemo</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
