<% if logged_in? %>
  <h1>投稿一覧</h1>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#post">
          投稿を表示する
  </button>
  <div id="post" class="collapse">
    <%= render 'posts/posts', {posts: @posts, comments: @comments} %>
  </div>
  <h1>コード一覧</h1>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#code">
          コードを表示する
  </button>
  <div id="code" class="collapse">
    <%= render 'codes/codes', codes: @codes %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to solvermemo</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
