<footer>
  <div class="text-center">
    <h3 class="footer_contect">Contact</h3>
    <a class="btn btn-block btn-social-icon btn-github btn-lg center-block" href="https://github.com/bamboo-nova" role="button">
      <span class="fa fa-github"></span>
    </a>
  </div>
  <div class="text-center text-muted">© 2019 Solvermemo.Bamboo-nova</div>
 </footer>