<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <!-- 1.モバイル表示用の省略メニュー -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expand="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="iconbar"></span>
          <span class="iconbar"></span>
          <span class="iconbar"></span>
        </button>
        <a class="navbar-brand" href="/">Solovermemo</a>
      </div>
      <!-- ナビゲーションメニュー -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Signup</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
</header>